<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="Roommates" />
	<meta property="og:title" content="Roommates" />
	<meta property="og:description" content="Roommates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">



	<!-- PAGE TITLE HERE -->
	<title>Roommates</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="static/roommate/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="static/roommate/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/roommate/css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="static/roommate/css/skin/skin-1.css">
	<link rel="stylesheet" href="static/roommate/css/all.min.css">
	<script src="https://kit.fontawesome.com/8695d3e87f.js" crossorigin="anonymous"></script>


</head>

<body id="bg">
	<div id="loading-area"></div>
	<div class="page-wraper">
		<!-- header -->

		<!-- header END -->
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
				style="background-image:url(static/roommate/images/banner/policy.jpg);">
				<div class="container">
					<div class="dlab-bnr-inr-entry">
						<h1 class="text-white">BOOKING POLICY</h1>
					</div>
				</div>
			</div>
			<!-- inner page banner END -->
			<div class="section-full content-inner-2">
				<div class="content-box">
					<div class="content-header">
						<h3 class="title"><i class="la la-file-text-o"></i>BOOKING POLICY</h3>
					</div>
					<div class="content-body">
						<p style="color:blue"><b>Definitions</b></p>
						<p>
							"Guest" means any person with whom Service Provider contracts for the provision of Arrangement Services (Accommodation providers, like Hostel, PG, Flats and any other such accommodation type.) by Service Provider or with whom Service Provider contracts, as agent for a Third Party Supplier for the provision of Accommodation Services.
References to “you”, “your” etc., are references to the Guest, authorized representatives of the Guest or those for whom Accommodation is requested by the Guest.
"Arrangement Services" means Service Provider's services in recommending, booking and/or otherwise arranging, negotiating and reporting of the supply of Accommodation Services by Third Party Suppliers to the Guest including without limitation the provision of Online Booking Services.
"Third Party Suppliers" means any third parties who supply any Accommodation Services to the Guest. The identity of the relevant Third Party Supplier for an Accommodation Service will be communicated to the Guest by Service Provider.
“Accommodation Services” means accommodation, booking, lodging, habitation, dwelling or here Hostel, PG, Flats and any other form of accommodations, other related Accommodation services.
“Online Booking Services” means any system provided by Service Provider to enable the Guest to make online bookings for Accommodation Services.

						</p>
						<p style="color: blue"><b>General</b></p>
						<p>
							a) These conditions shall be deemed to be incorporated into all contracts for Arrangement Services made by Service Provider with the Guest to the exclusion of all other terms and conditions and all work was undertaken by Service Provider shall be deemed to be carried out on the terms of these conditions unless otherwise expressly agreed in writing by Service Provider.
						</p>
						<p>
							b) Service Provider shall provide such Arrangement Services to the Guest and organize such Accommodation Services for the Guest as may be requested by the Guest and agreed by Service Provider from time to time.
						</p>
						<p>
							c) When taking bookings for or otherwise arranging Accommodation Services Service Provider will be acting as a disclosed agent and the relevant Third Party Supplier will be responsible for providing the Accommodation Services to the Guest. Service Provider will not be responsible for any default or failure in any supply by any Third Party Supplier or for any loss, claim, cost, damage or injury incurred by the Guest (directly or indirectly) as a result of the acts or omissions of the Third Party Supplier.
						</p>
						<p>
							d) By making a booking, the Guest will be entering into a legally binding contract with the relevant Third Party Supplier in respect of the Accommodation Services to be provided by such Third Party Supplier. The contract for the Accommodation Services will be subject to the terms and conditions of that Third Party Supplier (copies of which are available to the Guest on request) and the Guest will be bound by such terms and conditions.
						</p>
						<p>
							e) No Guest or any other third party will have any rights against Service Provider except as set forth.
						</p>
						<p style="color: blue"><b> Fees and Payment</b></p>
						<p>
							a) The Guest shall pay to Service Provider on demand all costs, fees, taxes etc as mentioned on the service provider website which is roommate.techmihirnaik.in, as invoiced by Service Provider to the Guest in respect of any Arrangement Services and any Accommodation Services in accordance with the payment terms set out in such invoice or otherwise agreed by Service Provider.
						</p>
						<p>
							b) Service Provider reserves the right to request advance payment for Arrangement Services and/or Accommodation Services.
						</p>
						<p>
							c) A convenience fee will be payable by the Guest at Service Provider’s standard rate for any costs incurred by Service Provider if payments are made by credit card/debit card/or any other minimal transactional charges.
						</p>
						<p style="color: blue"><b> Booking terms, amendments or cancellations</b></p>
						<p>
							a) The Guest is responsible for the accuracy of all data supplied to Service Provider or any Third Party Suppliers including without limitation any information entered using the Online Booking Services. In the event that such information is found to be incorrect additional costs may apply to correct such data. Details of such additional costs are available upon request.
						</p>
						<p>
							b) Service Provider reserves the right to charge an administration fee of for amendments or cancellations of any bookings in a case where the refund policy terms are not met, including where no additional documentation is required.
						</p>
						<p>
							c) The Guest acknowledges that the Accommodation Services may be subject to cancellation by the Third Party Supplier without prior notice. The Guest is responsible for checking and complying with the specific change or cancellation terms for the Guest’s bookings.
						</p>
						<p>
							d) While Service Provider will make commercially reasonable efforts to assist those making or arranging bookings on behalf of the Guest in complying with the Guest’s Accommodation policy, it is the responsibility of the Guest to ensure that all those making or arranging bookings on its behalf comply with its Accommodation policy.
						</p>
						<p>
							e) If the Guest requires a purchase order number or similar payment code or any other transactional ID to be provided when a booking is made, it is the responsibility of the service provider and the accommodation third-party services provider to ensure that such number is provided and that is it accurate. The Guest shall be required to pay in full all invoices and charges for bookings which have been made even if a valid purchase order or similar payment code was not provided at the time of booking like a refundable security deposit at the time of check-in.
						</p>
						<p style="color: blue"><b>Late Payments</b></p>
						<p>
							In the event that any sums due by the Guest to Service Provider are not paid when due then, without prejudice to any other remedies of Service Provider, Service Provider may at any time:
						</p>
						<p>
							a) Suspend all or part of the provision of the Accommodation Services to the Guest; and/or
						</p>
						<p>
							b) Cancel (without any liability to the guest) any bookings for Accommodation Services made on behalf of the Guest in respect of which payment is outstanding, with any cancellation fees incurred as a result thereof being for the account of the Guest.
						</p>
						<p style="color: blue"><b>Liability</b></p>
						<p>
							a) Subject to Clause 6(b), in the event of a claim by the Guest in respect of the supply of the Arrangement Services or any other liability whatsoever for which Service Provider is responsible in law, Service Provider's liability in any event shall not exceed the total amount paid or payable by the Guest to Service Provider by way of fees for the supply of the Arrangement Services concerned and the associated Accommodation Services.
						</p>
						<p>
							b) Service Provider shall incur no liability whatsoever to the Guest in respect of any indirect, special, consequential, punitive or other damages (howsoever incurred).
						</p>
						<p>
							c) Service Provider shall not be liable to the Guest for any default or failure in any supply by any Third Party Supplier or for any loss, claim, cost, damage or injury incurred by the Guest (directly or indirectly) as a result of the acts or omissions of the Third Party Supplier.
						</p>
						<p style="color: blue"><b>Insurance</b></p>
						<p>
							The Host acknowledges and agrees that it is reasonable and prudent for the Host to put in place a policy of insurance in respect of any loss, claim, cost, damage or injury incurred in connection with the Accommodation Services or any Accommodation resulting therefrom. Service Provider shall make commercially reasonable efforts to assist the Host in obtaining such a policy of insurance from an insurer on payment of the appropriate premium.
						</p>
						<p style="color: blue"><b>Waiver</b></p>
						<p>
							No delay or failure to take action under these Standard Terms and Conditions shall constitute any waiver by Service Provider of any provision of these Standard Terms and Conditions.
						</p>
						<p style="color: blue"><b>Variation</b></p>
						<p>
							Service Provider reserves the right to review and adjust all elements of fees without prior notice to take account of (but not limited to) inflation, increased charges, costs, or changes to terms and conditions by Third Party Suppliers or other parties that may impact on us.
						</p>
						<p style="color: blue"><b>Data Protection</b></p>
						<p>
							a) In providing Accommodation Services to the Guest, Service Provider may collect and process personal data (including names, contact details, credit card details, and/or dietary requirements) relating to the guest in order to make bookings for Accommodation Services with Third Party Suppliers.
						</p>
						<p>
							b) The Guest acknowledges that in order to make a booking with Third Party Suppliers, Service Provider may transfer to, and store personal data and the Guest consents to Service Provider transferring and storing personal data in this way.
						</p>
						<p>
							c) A copy of the personal data which Service Provider holds about the Guest is making Accommodation arrangements can be requested by the Guest at any time.
						</p>
						<p>
							d) The Guest acknowledges that Service Provider may transfer the Guest’s data (including personal data) to Third Party Suppliers and that any use of such data by the Third Party Suppliers will be in accordance with their terms and conditions and outside of Service Provider’s control.
						</p>
						<p style="color: blue"><b>Confidentiality</b></p>
						<p>
							a) Each party undertakes to the other to keep confidential all information (written, oral, or in electronic form) concerning the business, business systems, methodologies, and affairs of the other that it shall have obtained or received as a result of the provision of Arrangement Services or Accommodation Services (“Confidential Information”).
						</p>
						<p>
							b) Notwithstanding the above, the parties may disclose Confidential Information to i) their parent company or subsidiary and their officers, directors, employees and professional advisers (including auditors), ii) where requested or required by any court of competent jurisdiction or any competent judicial, governmental, supervisory or regulatory body or iii) with the prior written consent of the other party.
						</p>
						<p>
							c) The Third Party suppliers shall use the Confidential Information (agreements, guest details, tariff rates, terms and conditions, policies, business models etc.) provided by the service provider only pursuant to this Agreement and in connection only with the Purpose as contemplated herein and not otherwise appropriate such Confidential Information to its own use or to the use of any other person or entity;
						</p>
						<p>
							d) The Third Party supplier shall not disclose the Confidential Information to any person except to its employees, on a ‘need to know basis’, who prior to the disclosure or access to any such Confidential Information agree in writing to receive it under terms, at least, as restrictive as those specified in this Agreement and the third party supplier shall forward such agreement to the service provider.
						</p>
						<p>
							e) The Third Party supplier shall use utmost degree of care and shall employ strict security systems and procedures in safeguarding Confidential Information of the service provider and preventing theft, piracy, copying, duplication, unauthorized use, exhibition of the Confidential Information and / or infringement and / or violation of the service provider’s rights in the Confidential Information. In particular, the third party supplier shall immediately bring to the notice of the service provider in writing any such unauthorized use or disclosure of the Confidential Information and assist the service provider in remedying such unauthorized use or disclosure of the Confidential Information. 12. Jurisdiction and Governing Law
						</p>
						<p>
							These terms and conditions, any supply of the Arrangement Services to the Guest and any contracts between Service Provider and the Guest shall be governed by the laws of Union of India and shall be subject to the jurisdiction of the courts of Ahmedabad within the State of Gujarat, without prejudice to the right of Service Provider to seek recovery of any sums due from the Guest before any court of competent jurisdiction.
						</p>
						<p style="color: blue"><b>Force Majeure</b></p>
						<p>
							techmihirnaik Group shall not be responsible or liable for any delay or failure to perform its obligations (other than an obligation to make payment) under this Agreement due to unforeseen circumstances or any event which is beyond the service provider’s reasonable control and without its fault or negligence, but not limited to, acts of God, war, riots, embargoes, strikes, lockouts, acts of any Government authority, delays in obtaining licenses or rejection of applications under the Statutes, failure of network connections or power failure, fire or floods.
						</p>
						<h3 style="color: black">Guest Refund Policy</h3>
						<p>
							These terms and conditions govern Roommate’s policy for Guest refunds (“Guest Refund Policy”) and the obligations of the Host associated with the Guest Refund Policy. The Guest Refund Policy applies in addition to Roommate’s Terms and Conditions (hereinafter referred to as Roommate Terms). The Guest Refund Policy is available to Guests who book and pay for an Accommodation through the Roommate Platform and suffer a Travel Issue (as defined below). The Guest’s rights under this Guest Refund Policy will supersede the Host’s cancellation policy.
By using the Roommate Platform as a Host or Guest, you are indicating that you have read and that you understand and agree to be bound by this Guest Refund Policy.

						</p>
						<p style="color: blue"><b>Travel Issue</b></p>
						<p>
							“Travel Issue” means any one of the following:
						</p>
						<p>
							(a) the Host of the Accommodation (i) cancels a booking shortly before the scheduled start of the booking, or (ii) fails to provide the Guest with the reasonable ability to access the Accommodation (e.g. does not provide the keys and/or a security code or access to the booked rooms or space).
						</p>
						<p>
							(b) The Listing’s description or depiction of the Accommodation is materially inaccurate with respect to:
						</p>
						<p>
							• The size of the Accommodation (e.g., number and size of the bedroom, bathroom and/or other rooms),
						</p>
						<p>
							• Whether the booking for the Accommodation is for a private room or shared room, and whether another party, including the Host, is staying at the Accommodation during the booking,
						</p>
						<p>
							• Special amenities or features represented in the Listing are not provided or do not function, such as decks, bathrooms (toilet/shower/bathtub), kitchen (sink/stove/refrigerator or major other appliances), and electrical, heating or air condition systems), Wi-Fi or any other mentioned services.
						</p>
						<p>
							• The physical location of the Accommodation (proximity).
						</p>
						<p>
							(c) At the start of the Guest’s booking, the Accommodation:
						</p>
						<p>
							(i) Is not generally clean and sanitary

(ii) Contains safety or health hazards that would be reasonably expected to adversely affect the Guest’s stay at the Accommodation in Roommate’s judgment,

(iii) Does not contain clean bedding and bathroom towels available for the Guest’s use, or (iv) Has vermin or contains pets not disclosed in the Listing.

						</p>
						<p style="color:blue"><b>The Guest Refund Policy</b></p>
						<p>
							If you are a Guest and suffer a Travel Issue, we agree, at our discretion, to either (i) reimburse you up to the amount paid by you through the Roommate’s Platform (herein after referred to as Booking Fees) depending on the nature of the Travel Issue suffered, or (ii) use our reasonable efforts to find and book you another Accommodation for any unused or remaining duration left in your booking which is reasonably comparable to the Accommodation described in your original booking in terms of size, rooms, features and quality. All determinations of Roommate with respect to the Guest Refund Policy, including without limitation the size of any refund and the comparability of alternate Accommodations, shall be in Roommate’s discretion, and final and binding on the Guests and Hosts.
						</p>
						<p style="color: blue"><b>Conditions to Claim a Travel Issue</b></p>
						<p>
							To submit a valid claim for a Travel Issue and receive the benefits with respect to your booking, you are required to meet each of the following conditions:
						</p>
						<p>
							(a) You must be the Guest that booked the Accommodation through https://roommate.techmihirnaik.in/;
						</p>
						<p>
							(b) You must bring the Travel Issue to our attention in writing or via telephone and provide us with information (including photographs or other evidence) about the Accommodation and the circumstances of the Travel Issue within 48 hours of booking after the later of (i) the start of your booking or (ii) you discover the existence of the Travel Issue, and must respond to any requests by us for additional information or cooperation on the Travel Issue;
						</p>
						<p>
							(c) You must not have directly or indirectly caused the Travel Issue (through your action, omission or negligence); and
						</p>
						<p>
							(d) Unless Roommate advises you that the Travel Issue cannot be remediated, you must have used reasonable efforts to try to remedy the circumstances of the Travel Issue with the Host prior to making a claim for a Travel Issue.
						</p>
						<p style="color: blue"><b> Minimum Quality Standards, Host Responsibilities and Reimbursement to Guest</b></p>
						<p>
							If you are a Host, you are responsible for ensuring that the Accommodations you list on the Roommate Platform meet minimum quality standards regarding access, adequacy of the Listing description, safety, cleanliness, and do not present a Guest with Travel Issues. During a Guest’s stay at an Accommodation, Hosts should be available, or make a third-party available, in order to try, in good faith, to resolve any Guest issues.
						</p>
						<p>
							If you are a Host, and if (i) Roommate determines that a Guest has suffered a Travel Issue related to an Accommodation listed by you and (ii) Roommate either reimburses that Guest (up to their Total Fees*) or provides an alternative Accommodation to the Guest, you agree to reimburse Roommate up to the amount paid by Roommate within 48 hours of Roommate’s request. If the Guest is relocated to an alternative Accommodation, you also agree to reimburse Roommate for reasonable additional costs incurred to relocate the Guest. You authorize Roommate Payments to collect any amounts owed to Roommate by reducing your Payout or as otherwise permitted pursuant to the Payments Terms.
						</p>
						<p>
							*The cancelation amount or charges may vary as per the duration or the time period in which the booking was cancelled or the cancellation request was generated. (please provide the time period in a structured manner)
						</p>
						<p>
							As a Host, you understand that the rights of Guests under this Guest Refund Policy will supersede the cancellation terms and conditions. If you dispute the Travel Issue, you may notify us in writing or via telephone and provide us with information (including photographs or other evidence) disputing the claims regarding the Travel Issue, provided you must have used reasonable and good faith efforts to try to remedy the Travel Issue with the Guest prior to disputing the Travel Issue claim.
						</p>
						<p style="color: blue"><b>General Provisions</b></p>
						<p>
							No Assignment/No Insurance. This Guest Refund Policy is not intended to constitute an offer to insure, does not constitute insurance or an insurance contract, does not take the place of insurance obtained or obtainable by the Guest, and the Guest has not paid any premium in respect of the Guest Refund Policy. The benefits provided under this Guest Refund Policy are not assignable or transferable by you.
						</p>
						<p>
							Modification or Termination. Roommate reserves the right to modify or terminate this Guest Refund Policy, at any time, in its sole discretion. If Roommate modifies this Guest Refund Policy, we will post the modification on the Roommate Platform or provide you with notice of the modification and Roommate will continue to process all claims for Travel Issues made prior to the effective date of the modification.
						</p>
						<p>
							Entire Agreement. This Guest Refund Policy constitutes the entire and exclusive understanding and agreement between Roommate and you regarding the Guest Refund Policy and supersedes and replaces any and all prior oral or written understandings or agreements between Roommate and you regarding the Guest Refund Policy.
						</p>
						<p style="color: blue"><b>Contacting us</b></p>
						<p>
							If you have any questions about the Guest Refund Policy, please email us or contact our email id- Hello@roommate.techmihirnaik.in
						</p>


					</div>
				</div>
			</div>
			<!-- Content END-->

			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<span class="fbottom-like"> © 2021 by techmihirnaik.in <a class="like-btn"
									href="javascript:void(0)"><i class="fa fa-heart"></i></a> Proudly created with
								techmihirnaik.in </span>
						</div>
					</div>
				</div>
			</div>
			</footer>
			<!-- Footer END-->
			<button class="scroltop fa fa-chevron-up"></button>
		</div>
		<!-- JAVASCRIPT FILES ========================================= -->
		<script src="static/roommate/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
		<script src="static/roommate/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
		<script src="static/roommate/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
		<script src="static/roommate/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
		<script src="static/roommate/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
		<script src="static/roommate/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
		<script src="static/roommate/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
		<script src="static/roommate/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
		<script src="static/roommate/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
		<script src="static/roommate/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
		<script src="static/roommate/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
		<script src="static/roommate/plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
		<script src="static/roommate/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
		<script src="static/roommate/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
		<script src="static/roommate/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
		<script src="static/roommate/js/dz.ajax.js"></script><!-- CONTACT JS  -->

</body>

</html>
